* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-logo {
  width: 60px;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  align-items: center;
}

.nav-items > li {
  list-style: none;
  padding: 3px;
}

.nav-items {
  display: flex;
}

.card {
  display: grid;
  max-width: 300px;
  border: 1px solid white;
}
.card h2,
h4 {
  text-align: center;
}
img {
  width: 100%;
}

.card .buttons {
  display: flex;
  justify-content: space-evenly;
}

.likeButton {
  background-color: white;
  color: black;
  width: 80px;
  height: 50px;
}
.shareButton {
  background-color: lightblue;
  color: black;
  width: 80px;
  height: 50px;
}
